.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  
    img{
      width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 23.5rem;

        img{
            height: 100%;
        }
    }
}